<%- include('../partials/header.ejs') %>
<div class="add-indicator">
<h2 class="indicator-header">Add Indicator</h2>
<div class="add-indicator-form"></div>
<div class="add-indicator-row">
    <p>
      Please first ensure that the Indicator is not in the dropdown
    </p></div>
    <div class="add-indicator-row">
      <select>
        <% indicators.forEach(function(i) { %>
        <option><%= i.name %></option>
        <% }) %>
      </select></div>
    
    <form action="/indicators" method="POST">
      <div class="add-indicator-row indicator-name">
      <label>Name:</label></div>
      <div class="add-indicator-row"><input type="text" name="name" /></div>
        <div class="add-indicator-row add-indicator-btn">
      <input type="submit" value="Add Indicator" /></div>

    </form>
  </div>
    <%- include('../partials/footer.ejs') %>