<%- include('../partials/header.ejs') %>
<div class="add-indicator">
<div class="indicator-header">Add Indicator</div> 
<div class="add-indicator-form">
<div class="add-indicator-row">
    <div class="indicator-text">
      Please first ensure that the Indicator is not in the dropdown
    </div></div>
    <div class="add-indicator-row">
      <select>
        <% indicators.forEach(function(i) { %>
        <option><%= i.name %></option>
        <% }) %>
      </select></div>

    <div class="add-indicator-row">
    <form action="/indicators" method="POST">
      <div class="add-indicator-row indicator-name">
        <div class="indicator-text"><label>Name:</label></div></div>
      <div class="add-indicator-row"><input type="text" name="name" /></div>
        <div class="add-indicator-row">
      <input class ="add-indicator-btn" type="submit" value="Add Indicator" /></div>

    </form></div>
  </div></div>
    <%- include('../partials/footer.ejs') %>