<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/73822a0f38.js" crossorigin="anonymous"></script>
    <title>Crypto Journal</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script rel=""></script>
  </head>
  <body>
    <div class="main-container">
    <div class="wrapper hover_collapse">
      <div class="top_navbar">
        <div class="logo">Crypto Diary</div>
        <div class="menu"> 
          <div class="hamburger">
             <i class="fas fa-bars"></i>
          </div>
       </div>
       </div>

       <div class="sidebar">
<div class="sidebar_inner">
  <ul>
      <li>
      <a href="/index">
	<span class="icon"><i class="fa-solid fa-chart-line"></i></span>
	<span class="text">Dashboard</span>
      </a>
      </li>

      <li>
      <a href="/trades/trades">
	<span class="icon"><i class="fa-solid fa-money-bill-trend-up"></i></span>
	<span class="text">Trades</span>
      </a>
      </li>
      <li>
      <a href="/trades/new">
	<span class="icon"><i class="fa-solid fa-folder-plus"></i></span>
	<span class="text">Add Trade</span>
      </a>
      </li>
      <li>
      <a href="/indicators/new">
	<span class="icon"><i class="fa-solid fa-square-plus"></i></i></span>
	<span class="text">Add Indicator</span>
      </a>
      </li>
      <li>
      <a href="#">
	<span class="icon"><i class="fa fa-question-circle"></i></span>
	<span class="text">FAQ</span>
      </a>
      </li>
      <li>
      <a href="#">
	<span class="icon"><i class="fa fa-pen"></i></span>
	<span class="text">About</span>
      </a>
      </li>
      <li>
      <a href="#">
	<span class="icon"><i class="fa fa-id-card"></i></span>
	<span class="text">Profile</span>
      </a>
      </li>
  </ul>
</div>
      </div>
     </div>