<%- include('../partials/header.ejs') %>
   <div class="dashboard-container">
      <div>
    <h1>Welcome to our best crypto tracking system</h1>
    <h2>Please find below your quick stats:</h2></div>

    <div class="stats-container">
      <div>Total trades: 134</div>
      <div>Winning trades: 78%</div> 
      <div>ROI: 123%</div>
      <div>Longs:  34</div>
      <div>Shorts: 100</div>
    </div>

      <div class="container">
         <div class="box">
           <div class="chart" data-percent="90">90%</div>
          <div><h2>Depo Increase</h2></div> 
         </div>
         <div class="box">
           <div class="chart" data-percent="72" >123%</div>
           <div><h2>ROI</h2></div>
         </div>
         <div class="box">
           <div class="chart" data-percent="81" >81%</div>
           <div><h2>Avg Return</h2></div>
         </div>
   </div> 
   <%- include('../partials/footer.ejs') %>