<%- include('./partials/header.ejs') %>
   <div>
  </br>
</br>
    <h1>Welcome to our best crypto tracking system</h1>
    <h2>Please find below your quick stats:</h2>
   </div> 
   <%- include('./partials/footer.ejs') %>