<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Journal</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to our best crypto tracking system</h1>
    <p>Please log in or sign up</p>
    <a href="login">Log In</a>
    <a href="signup">Sign Up</a>
    <a href="trades/trades">Trades</a>
    <a href="trades/new">Add New Trade</a>
  </body>
</html>
